<div class="container-fluid h-100">
  <div class="row">

    <div class="form-container col-sm-10 col-md-10 col-lg-5">

      <p class="heading">{{'resetPassword.enterNewPassword' | translate}}</p>
        <form 
          [formGroup]="resetPasswordForm" 
          #formDirective="ngForm" 
          (ngSubmit)="submit(resetPasswordForm, formDirective)" 
          novalidate>

            <div class="form-group">
                <input 
                  formControlName="password"
                    type="password" 
                    placeholder="{{'resetPassword.placeholder.password' | translate}}" 
                    class="form-control">
                <div 
                  *ngIf="getPasswordErrMsg() != '' && resetPasswordForm.get('password').touched" 
                  [ngClass]="{'hasError': getPasswordErrMsg() != '' && resetPasswordForm.get('password').touched}">
                    {{getPasswordErrMsg()}}
                </div>
            </div>

            <div class="form-group">
                <input 
                  formControlName="confirmPassword" 
                  type="password"
                  placeholder="{{'resetPassword.placeholder.confirmPassword' | translate}}"
                  class="form-control">
                <div 
                  *ngIf="getPasswordErrMsg() != '' && resetPasswordForm.get('confirmPassword').touched" 
                  [ngClass]="{'hasError': getPasswordErrMsg() != '' && resetPasswordForm.get('confirmPassword').touched}">
                    {{getPasswordErrMsg()}}
                </div>
            </div>

            <button 
              type="submit" 
              class="btn submit-btn"
              [disabled]="!resetPasswordForm.valid">
                {{'resetPassword.reset' | translate}}
              </button>

        </form>
        <a class="router-link" routerLink="/BarsHunters/sign-in">{{'userRegistration.signIn' | translate}}</a>
    </div>

  </div>
</div>