
@import '../../../common/variable.scss';
@import '../../../common/mixin.scss';

.container-fluid {
  background: url('../../../assets/2.jpg');
  background-size: cover;
}

.row {
 @include flex-row(center, center);
 height: 100vh;
}

.form-container {
  box-shadow: 0 0 40px 10px rgb(80, 79, 79);
  border-radius: 5px;
  background: rgb(46, 45, 45,);

  input {
    background: #afb1be;
  }
  .submit-btn {  
    @include submit-btn();
  }

  @media screen and (max-width: 575px) {
    height: 100%;
    background: rgba(46, 45, 45, .6);
    .heading {
      padding-top: 20%;
    }
    .form-group {
      margin-bottom: 8%; 
    }
    .router-link {
      width: 100%;
      text-align: center;
    }
  }
}

.heading {
  color: rgb(211, 211, 211);
  text-align: center;
  font-size: 2rem;
}

.hasError {
  color: rgb(221, 98, 98);
}

.router-link {
  color: rgb(211, 211, 211);
  font-size: 1.2rem;
}