<div class="container-fluid h-100">
  <div class="row">

    <div class="form-container col-sm-10 col-md-10 col-lg-5">
      <p class="heading">{{'forgotPassword.forgotPass' | translate}}</p>

        <form 
          [formGroup]="forgotPasswordForm"
          #formDirective="ngForm" 
          (ngSubmit)="submit(forgotPasswordForm, formDirective)" 
          novalidate>

          <div class="form-group">
            <input 
              formControlName="email" 
              type="email" 
              placeholder="{{'forgotPassword.placeholder.enterEmail' | translate}}" 
              class="form-control">
              <div 
                *ngIf="getEmailErrMsg() != '' && forgotPasswordForm.get('email').touched" 
                [ngClass]="{'hasError': getEmailErrMsg() != '' && forgotPasswordForm.get('email').touched}">
                  {{getEmailErrMsg()}}
              </div>
          </div>

          <button 
            type="submit" 
            class="btn submit-btn" 
            [disabled]="!forgotPasswordForm.valid">
            {{'forgotPassword.resetPassword' | translate}}
          </button>

        </form>

        <a 
          class="router-link" 
          routerLink="/BarsHunters/sign-in">
            {{'forgotPassword.buttonBack' | translate}}
        </a>
    </div>

  </div>
</div>